@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

/* global style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: "Inter", sans-serif; */
}
:root {
  --primary-color: #e02c6d;
}

/* header section  */

header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 85px 120px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.nav-bar ul li {
  list-style: none;
  margin-right: 40px;
}
.nav-bar ul li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  transition: color 0.3s;
}
.nav-bar ul li:hover a {
  color: var(--primary-color);
}
.nav-bar h2 {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
}
.header-main {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-left h1 {
  color: #3a3a3a;
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
}
.main-left p {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}
.btn-preebook {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 24px;
  background: var(--primary-color);
  border-radius: 40px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  margin-top: 15px;
  transition: .3s ease-in-out;
}
.btn-preebook:hover{
  color: var(--primary-color);
  background: #fff;
}
.btn-preebook>i{
  margin-left: 8px;
}
.main-right{
  background-image: url('../images/circle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
}
